# Ignore everythang
*

# Except for
!.gitignore
!README.md
!yarn.lock
!*.json
!*.html
!*.ico

!styles/
!styles/*.css
!styles/*.ttf
!styles/*.woff

!src/
!src/**/
!src/**/*.ts

!scripts/
!scripts/*.js

!assets/
!assets/*.ico
!assets/*.json
!assets/shaders/
!assets/shaders/*.fs
!assets/shaders/*.vs

